# See https://docs.ansible.com/ansible/latest/reference_appendices/config.html
# for various configuration options.

[defaults]
# Displays tasks execution duration.
callbacks_enabled = profile_tasks
# The playbooks is only run on the implicit localhost.
# Silence warning about empty hosts inventory.
localhost_warning = False

[inventory]
# Silence warning about no inventory.
# This option is available since Ansible 2.14 (available only with Python 3.9+).
inventory_unparsed_warning = False