# Cloud Build Configuration for .circleci base image build:
# - Builds and pushes gcr.io/tpu-pytorch/xla_base:{_TAG_NAME}.
# - This build is meant to be triggered manually in cloud builder
steps:
- name: 'gcr.io/cloud-builders/docker'
  args: [
          'build',
          '--build-arg', 'cloud_build_prefix=.cicleci/docker',
          '--build-arg', 'base_image=nvidia/cuda:${_CUDA_TAG}',
          '--build-arg', 'cuda=${_CUDA}',
          '--build-arg', 'python_version=${_PYTHON_VERSION}',
          '-t', 'gcr.io/tpu-pytorch/xla_base:${_TAG_NAME}',
          '-f', '.circleci/docker/Dockerfile', '.circleci/docker/'
        ]
  timeout: 2000s
- name: 'gcr.io/cloud-builders/docker'
  args: ['push', 'gcr.io/tpu-pytorch/xla_base']
  timeout: 1000s

options:
    machineType: 'N1_HIGHCPU_32'
    dynamic_substitutions: true
    substitution_option: 'ALLOW_LOOSE'
substitutions:
    _CUDA: '1'
    _CUDA_TAG: '12.0.1-cudnn8-devel-ubuntu20.04'  # nvidia/cuda:12.0.1-cudnn8-devel-ubuntu20.04
    _PYTHON_VERSION: '3.10'
    _TAG_NAME: '${_PYTHON_VERSION}-${_CUDA_TAG}-mini'
timeout: 3000s
