# See https://docs.ansible.com/ansible/latest/reference_appendices/config.html
# for various configuration options.

[defaults]
# Displays tasks execution duration.
callbacks_enabled = profile_tasks
# The playbooks is only run on the implicit localhost.
# Silence warning about empty hosts inventory.
localhost_warning = False
# Make output human-readable.
stdout_callback = yaml
# Ansible 2.19 requires this environment variable being set, so that we can use
# string variables as boolean.
allow_broken_conditionals = true

[inventory]
# Silence warning about no inventory.
# This option is available since Ansible 2.14 (available only with Python 3.9+).
inventory_unparsed_warning = False
