<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1; url={{ page.redirect_url }}">
    <script type="text/javascript">
      window.location.href = "{{ page.redirect_url }}"
    </script>
    <title>Page Redirection</title>
  </head>
  <body>
    If you are not redirected automatically, follow this <a href='{{ page.redirect_url }}'>link to the latest documentation</a>.
    <br />
    If you want to view documentation for a particular version, follow this <a href='versions.html'>link</a>.
  </body>
  </html>
