name: build-cuda-plugin
on:
  workflow_call:
    inputs:
      dev-image:
        required: true
        type: string
        description: Base image for builds
      runner:
        required: false
        type: string
        description: Runner type for the test
        default: linux.12xlarge

    secrets:
      gcloud-service-key:
        required: true
        description: Secret to access Bazel build cache
jobs:
  build:
    runs-on: ${{ inputs.runner }}
    container:
      image: ${{ inputs.dev-image }}
    env:
      GCLOUD_SERVICE_KEY: ${{ secrets.gcloud-service-key }}
      GOOGLE_APPLICATION_CREDENTIALS: /tmp/default_credentials.json
      BAZEL_JOBS: 16
      BAZEL_REMOTE_CACHE: 1
      BUILD_CPP_TESTS: 1
    steps:
      - name: Setup gcloud
        shell: bash
        run: |
          echo "${GCLOUD_SERVICE_KEY}" > $GOOGLE_APPLICATION_CREDENTIALS
      - name: Checkout PyTorch Repo
        uses: actions/checkout@v4
        with:
          repository: pytorch/pytorch
          path: pytorch
          submodules: recursive
          # TODO: correct pin
      - name: Checkout PyTorch/XLA Repo
        uses: actions/checkout@v4
        with:
          path: pytorch/xla
      - name: Build
        shell: bash
        run: |
          cd pytorch/xla/infra/ansible
          ansible-playbook playbook.yaml -vvv -e "stage=build arch=amd64 accelerator=tpu src_root=${GITHUB_WORKSPACE} bundle_libtpu=0 cache_suffix=-ci" --skip-tags=fetch_srcs,install_deps
      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: torch-xla-wheels
          path: /dist/*.whl
      - name: Find and move CPP test binaries
        shell: bash
        run: |
          mkdir -p /tmp/test/bin
          cd pytorch/xla/build/temp*
          pwd
          ls
          ls bazel-bin/
          bazel query 'kind(".*_test", tests(//:cpp_tests))' --output=label | xargs -n 1 bazel cquery --output=files | xargs cp -t $test_bin
      - name: Upload CPP test binaries
        uses: actions/upload-artifact@v4
        with:
          name: cpp-test-bin
          path: /tmp/test/bin
