name: xla-docs-build
on:
  workflow_call:
    inputs:
      dev-image:
        required: true
        type: string
        description: Base image for builds
      runner:
        required: false
        type: string
        description: Runner type for the test
        default: linux.4xlarge
      has_code_changes:
        required: false
        type: string
        description: Whether to run full workflow or not
        default: 'true'
    secrets:
      torchxla-bot-token:
        required: true
jobs:
  build-docs:
    runs-on: ubuntu-24.04
    timeout-minutes: 45
    container:
      image: ${{ inputs.dev-image }}
    env:
      BRANCH_NAME: ${{ github.ref_name }}
    steps:
    - name: Fetch wheels
      if: ${{ inputs.has_code_changes == 'true' }}
      uses: actions/download-artifact@v4
      with:
        name: torch-xla-wheels
        path: /tmp/wheels/
    - name: Install wheels
      if: ${{ inputs.has_code_changes == 'true' }}
      shell: bash
      run: |
        pip install /tmp/wheels/*.whl
    - name: Checkout PyTorch/XLA Repo
      if: ${{ inputs.has_code_changes == 'true' }}
      uses: actions/checkout@v4
      with:
        path: pytorch/xla
    - name: Build docs
      if: ${{ inputs.has_code_changes == 'true' }}
      shell: bash
      run: |
        cd pytorch/xla/docs
        pip install -r requirements.txt
        sphinx-build -b html source build
    - name: Checkout GitHub Pages
      if: ${{ inputs.has_code_changes == 'true' }}
      uses: actions/checkout@v4
      with:
        path: gh-pages
        ref: gh-pages
        token: ${{ github.event_name == 'push' && secrets.torchxla-bot-token || github.token }}
    - name: Merge changes
      if: ${{ inputs.has_code_changes == 'true' }}
      shell: bash
      run: |
        subdir=${{ env.BRANCH_NAME == 'master' && 'master' || format('{0}/{1}', 'release', env.BRANCH_NAME) }}
        mkdir -p gh-pages/$subdir
        cp -fR pytorch/xla/docs/build/* gh-pages/$subdir
    - name: Upload preview as artifact
      if: ${{ inputs.has_code_changes == 'true' }}
      uses: actions/upload-artifact@v4
      with:
        name: github-pages
        path: pytorch/xla/docs/build/
    - name: Deploy
      if: ${{ inputs.has_code_changes == 'true' }} && github.event_name == 'push'
      shell: bash
      run: |
        cd gh-pages
        git config user.email "pytorchxla@gmail.com"
        git config user.name "torchxlabot2"
        git add . -v
        git diff --cached --exit-code || git commit -m "Update doc from commit ${{ github.sha }}"
        git push origin gh-pages
    - name: Report no code changes
      if: ${{ inputs.has_code_changes == 'false' }}
      run: |
        echo "No code changes were detected that require running the full test suite."
